<nav class="navbar navbar-expand-lg " >
    <a class="navbar-brand text-dark" href="#" appHeadingCD >Let's Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a style="font-weight: bold;" class="nav-link" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a style="font-weight: bold;" class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold;" class="nav-link" href="/details">Destinations</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold;" class="nav-link" href="/about">About</a>
        </li>
        
      </ul>
    </div>
  </nav>
