.navbar {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/320/838/411/desert-camels-sandstorm-wallpaper-preview.jpg');
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat; 
    width: 100%; 
    filter: brightness(75%); 
}
