<section style="margin-top: 50px; ">
    <p style="text-align: center; letter-spacing: 2px; font-weight: bolder;">LATEST FROM THE BLOG</p>

    <div class="row11 ">
      <div class="col-1"></div>
      <div class="col-10 ">
        <div class="row12 ">
          <div class="col-3">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1694081207815-HR6U2JT5FLYTVUHSSISX/859A3745.jpg?format=750w"
              appBoxes>
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">A CURATED GUIDE TO MENTON,
              FRANCE | THE LEMON TOWN</p>
          </div>
          <div class="col-3">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1693233964566-F714ZMHRFPX0MY6P4OF4/859A1811.jpg?format=750w"
              appBoxes>
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">13 WONDERFUL THINGS TO DO IN
              NICE, FRANCE | THE PRETTY CITY</p>


          </div>
          <div class="col-3">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1692785370500-9GEDQ7LH172BIHGBQTJP/859A7202.jpg?format=750w"
              appBoxes>
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">CAR HIRE AND DRIVING IN
              ALBANIA | THE ESSENTIAL GUIDE</p>


          </div>
          <div class="col-3">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1692022177805-7IQBWS77CPM5X5MD5QME/859A0244-2.jpg?format=750w"
              appBoxes>
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">7 DELIGHTFUL THINGS TO DO IN
              OIA, SANTORINI</p>

          </div>
        </div>

      </div>
      <div class="col-1"></div>

    </div>
  </section>
  <section style="margin-top: 50px;">
    <p style="text-align: center; letter-spacing: 2px; font-weight: bolder;">LOOKING FOR SOMEWHERE IN PARTICULAR?</p>
    <div class="text-center">
      <input class="search" type="search"
        style="width: 400px; border-top:none; border-left: none;border-right: none; outline: none;  border-color: rgb(226, 219, 88);"
        placeholder="search">
    </div>
  </section>
  <section style="margin-top: 50px;">
    <div>
      <img
        src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614364160684-WSO2LL2ZPCRBH76QXG47/IMG_2152.jpg?format=2500w"
        style="width: 100%; height: 300px; object-fit: cover;object-position: bottom; position: absolute; ">
      <div style="position: relative; top: 70px;">
        <p
          style="text-align: center; font-size: 13px; letter-spacing: 2.9px; font-weight: bold; color: white;text-shadow: 3px 3px 3px black; ">
          OUR MONTHLY NEWSLETTER FOR THE</p>
        <p
          style="text-align: center; font-size: 40px; font-weight: bolder; letter-spacing: 3px; color: white;text-shadow: 3px 3px 3px black;">
          CONSTANTLY CURIOUS</p>
        <p style="text-align: center;"><a href="#"
            style="text-decoration: none;font-size: 20px; font-weight: bolder; letter-spacing: 3px; color: rgb(0, 0, 0);text-shadow: 3px 3px 3px rgb(202, 188, 188);">SIGN
            UP</a></p>
      </div>
    </div>

    <div style="margin-top: 110px;">
      <img
        src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1619706660898-8EVJJ06GFFGKLCGM2LAT/IMG_1895-2.jpg?format=2500w"
        style="width: 100%; height: 240px; object-fit: cover;object-position: bottom; position: absolute;">
      <div style="position: relative; top: 70px;">
        <p
          style="text-align: center; font-size: 13px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
          PLAN FOR THE PERFECT SUMMER</p>
        <p
          style="text-align: center; font-size: 50px; font-weight: bolder; letter-spacing: 3px; color: white;text-shadow: 3px 3px 3px black;">
          ITALY</p>

      </div>
    </div>

  </section>

   <section style="margin-top: 230px;">
    <p style="text-align: center; letter-spacing: 1.2px;">The European country to which we return again and again, each
      time discovering a new treasure or deeper appreciation.</p>
    <p style="text-align: center;letter-spacing: 1.2px;">Start planning for your own escape to Italy with our
      destination guides below, or visit our Italy page for more on Puglia, the Dolomites, and beyond.

    </p>

    <div class="row11 ">
      <div class="col-1"></div>
      <div class="col-10 ">
        <div class="row12 ">
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614174992726-KJNJ2Y7UXKLQCHNLK13L/Italy-Beaches-Along-Dusty-Roads-2.jpg?format=1500w"
              style="width: 350px; height: 400px; object-position: right; position: absolute;">

            <div style="position: relative; top: 270px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN SICILY</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614175003936-ZQYHMOPE445XS1NRIZ9F/manarola-along-dusty-roads-21.jpg?format=1500w"
              style="width: 350px;  height: 400px; position: absolute;">
            <div style="position: relative; top: 270px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN CINIQUE TERRE</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614175034951-75Z1LFBY7133L6SW6HSX/2L1A0798.jpg?format=1500w"
              style="width: 350px; height: 400px; position: absolute;">
            <div style="position: relative; top: 270px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN VENICE</p>


            </div>

          </div>

        </div>

      </div>
      <div class="col-1"></div>

    </div>
  </section>

  <section style="margin-top: 450px;">
    <div>
      <img
        src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1687945651070-WTJX4KLV99LWCEHALK1Z/2L1A4637.jpg?format=2500w"
        style="width: 100%; height: 300px; object-fit: cover;object-position: center; position: absolute; filter:brightness(100%)">
      <div style="position: relative; top: 80px;">
        <p
          style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: white;text-shadow: 3px 3px 3px black; margin-bottom: 0px;">
          DISCOVER THE STUNNING BALEARIC ISLAND</p>
        <p
          style="text-align: center; font-size: 50px; font-weight: bolder; letter-spacing: 5px; color: white;text-shadow: 3px 3px 3px black;margin-top: 0px; padding-top: 0px;">
          MENORCA</p>

      </div>
    </div>
  </section>
  <section style="margin-top: 230px;">
    <p style="text-align: center; letter-spacing: 1.2px; margin: 20px; font-size: 16px;">Although it may principally be
      viewed as a summer holiday island - a place to relax, top up the tan, and eat well - the truth is that Menorca
      isn’t quite what you may be thinking of when ‘Spanish holiday destination’ comes to mind. Sure, there’s coastal
      resorts and swimming pools and luxury hotels and holiday homes and tourists and beaches - all the elements you’d
      expect - but this is a quieter place where a balance, delicate and fragile though it may be, is being sought.</p>
    <p style="text-align: center;letter-spacing: 1.2px; margin: 20px; font-size: 16px;">About a fifth of the size of
      neighbouring Mallorca, instead of the brash concrete, noise, and hedonism you find elsewhere, the words which come
      to mind for us most when we think of Menorca are: undeveloped, understated, ruggedly rural and remoteness.

    </p>
    <div class="row11 ">
      <div class="col-1"></div>
      <div class="col-10 ">
        <div class="row12 ">
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/948f3db9-a13a-4fcf-9a9f-c1cf7bc8cf10/IMG_7956.jpg?format=1500w"
              style="width: 350px; height: 300px; object-position: right; position: absolute;">

            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN MENORCA</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/463dfa6d-01ac-4265-9c9a-35e0520c8b2b/2L1A6125.jpg?format=1500w"
              style="width: 350px;  height: 300px; position: absolute;">
            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                WHERE TO STAY IN <BR>MENORCA</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/42f89352-8d33-483b-8d27-1370764d0ac9/2L1A5572.jpg?format=1500w"
              style="width: 350px; height: 300px; position: absolute;">
            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                23 THINGS TO KNOW BEFORE VISITING MENORCA</p>


            </div>

          </div>

        </div>

      </div>
      <div class="col-1"></div>
    </div>

    <div class="row11 " style="margin-top: 235px;">
      <div class="col-1"></div>
      <div class="col-10 ">
        <div class="row12 ">
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/fb4cae89-ed64-4d4f-b9f6-a388a1d2121a/2L1A6537.jpg?format=1500w"
              style="width: 350px; height: 300px; object-position: right; position: absolute;">

            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN CIUTADELLA</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/33c52f70-a6b7-4128-bc9f-09523bd65be3/2L1A3219.jpg?format=1500w"
              style="width: 350px;  height: 300px; position: absolute;">
            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                THE BEST BEACHES IN <BR>MENORCA</p>


            </div>

          </div>
          <div class="col-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/2192eb6a-ff9e-44df-8540-4b2110a87889/DSC00540.jpg?format=1500w"
              style="width: 350px; height: 300px; position: absolute;">
            <div style="position: relative; top: 170px;">
              <p
                style="text-align: center; font-size: 18px; letter-spacing: 2.9px; font-weight: bold; color: rgb(255, 247, 247);text-shadow: 3px 3px 3px black;   ">
                13 WONDERFUL THINGS<BR> TO DO IN MAHON</p>


            </div>

          </div>

        </div>

      </div>
      <div class="col-1" style="margin-bottom: 400px;"></div>


 