<div class="banner">
    <img src="https://c4.wallpaperflare.com/wallpaper/320/838/411/desert-camels-sandstorm-wallpaper-preview.jpg"
      alt="Image 1" style="width: 100%; height: 650px;filter: brightness(75%);">
</div>

<div class="banner-desc text-center w-100">
    <h1>Travel World, Travel Adventurously</h1>
    <p>Welcome to your one-stop resource for a life-changing journey.</p>
    <div appMouse><a class="btn text-white" href="/details">

      <h5>CLICK HERE TO </h5>
      <h5> EXPLORE</h5></a>
    </div>
  </div>



  <section>

    <div class="row"
      style="margin-top: 70px;display: flex; flex-direction: row;margin-left: 100px; margin-right: 100px;  ">
      <div class="col-6">
        <p style="font-family: 'Nunito Sans', sans-serif;font-size: 16px;letter-spacing: 1px; ">Along Dusty Roads brings
          you the beauty of a life of travel, personally curated by us, Andrew & Emily.</p>
        <p style="font-family: 'Nunito Sans', sans-serif; font-size: 16px;letter-spacing: 1px;">Our crafted guides,
          thoughtful narratives, and original photography journals wed wanderlust and practical advice to help and
          inspire curious travellers like you to make the most of your own slow, sustainable adventures.</p>

        <p style="font-family: 'Nunito Sans', sans-serif; font-weight: bold;">WE WANT TO HELP YOU TO TRAVEL MORE, TRAVEL
          BETTER.</p>
        <div class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-dark btn-floating m-1 rounded-5" href="#!" role="button"><i
              class="fab fa-facebook-f"></i></a>

          <!-- Twitter -->
          <a class="btn btn-outline-dark btn-floating m-1 rounded-5" href="#!" role="button"><i
              class="fab fa-twitter"></i></a>

          <!-- Google -->
          <a class="btn btn-outline-dark btn-floating m-1 rounded-5" href="#!" role="button"><i
              class="fab fa-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-outline-dark rounded-5 btn-floating m-1" href="#!" role="button"><i
              class="fab fa-instagram"></i></a>
        </div>



        <img
          src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/5f8be444-7918-4558-aff0-e28069840db3/The+swoosh_VAR+002+copy.png?format=1500w"
          width="800px">


      </div>

      <div class="col-6" style="padding: 0; margin: 0;">
        <div
          style="height: 100px; width: 290px; background-color: #eae0d7;font-family: 'Nunito Sans', sans-serif;position: absolute;z-index: 15; top:100px; left: -200px; margin-left: 200px; padding-left: 30px;">
          <p
            style="font-family: 'Nunito Sans', sans-serif; font-weight: bold; font-size: 15px;padding-top: 20px;text-align: right; margin-bottom: 0px; padding-right: 10px;">
            OUR TRAVEL PHILOSOPHY</p>

          <div class="text-right" style="margin-top: 0px;padding-right: 10px;"> <button
              style="height: 23px; font-size: 11px; background-color: black;color: white;">Read More</button>
          </div>
        </div>
        <img
          src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1564529837147-XEF10BWTY1J0UOKLPLBH/DSC02497.jpg?format=1000w"
          style="height: 394px; width: 315px; position: relative; margin-left: 200px;">
      </div>
    </div>
  </section>

  <section style="margin-top: 50px;">
    <div>
      <img
        src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1564523185860-340THSZIM66R5LWD11AZ/IMG_9117.jpg?format=2500w"
        style="width: 100%; height: 600px; object-fit: cover;object-position: bottom; position: absolute;">
      <div style="position: relative; top: 70px;">
        <p
          style="text-align: center; font-size: 13px; letter-spacing: 2.9px; font-weight: bold; color: white;text-shadow: 3px 3px 3px black; ">
          NEW TO ALONG DUSTY ROADS?</p>
        <p
          style="text-align: center; font-size: 40px; font-weight: bolder; letter-spacing: 3px; color: white;text-shadow: 3px 3px 3px black;">
          DISCOVER OUR STORY</p>
        <p style="text-align: center;"><a href="#"
            style="text-decoration: none;font-size: 20px; font-weight: bolder; letter-spacing: 3px; color: rgb(0, 0, 0);text-shadow: 3px 3px 3px rgb(202, 188, 188);">CLICK
            HERE</a></p>
      </div>
    </div>
  </section>
  <section style="margin-top: 530px;">
    <p style="text-align: center; letter-spacing: 1.2px; margin: 20px; font-size: 16px;">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque vero sit in doloribus qui nobis veritatis sequi,
      quos optio labore ut cupiditate consequuntur molestias culpa, at fugit repellendus sapiente nulla!</p>
    <p style="text-align: center;letter-spacing: 1.2px; margin: 20px; font-size: 16px;">Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Sint nobis ipsum doloribus ullam? Ex quis reiciendis iusto accusantium ipsa
      necessitatibus deserunt optio perferendis itaque voluptate repellendus, debitis provident dolorem hic.

    </p>
  </section>
