

  <section style="margin-top: 60px;">
    <p style="text-align: center; letter-spacing: 2px; font-weight: bolder;margin-bottom: 60px;">CLICK THE PICTURES TO KNOW MORE</p>
    <div class="row11">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row12">
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352375017-EDUWPR9EB2R3D507TFW4/IMG_3384.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">WHERE THE FORGOTTEN ANIMALS
              OF BOLIVIA ARE LOVED</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614353550454-D5VE1F4C198UNHUN3UMK/IMG_2301.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">THE BASQUE COUNTRY | MORE THAN
              JUST THE BILBOA EFFECT</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352448581-DW0PB1G33Q7ZRNCUGSMY/caballos-de-luz-along-dusty-roads-21.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">HORSE RIDING IN URUGUAY | A
              TALE OF TWO DREAMS</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352048223-49LSV3S0K5ZNTI61Z8L3/IMG_6188.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">OUR NIGHT IN THE SAHARA
              DESERT</p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row11">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row12">
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352245185-ANFJBKS4W9JEHRZUESVU/IMG_9960.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal5">
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">CHERNOBYL | DISCOVERING
              SECRETS IN THE SNOW</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352198466-4WUSSBEXTMHQ8UYFIFVR/DSC01474.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal6">
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">THREE MORNINGS IN SWITZERLAND
              | A HIKING STORY</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352294833-U7WWTV2V9XU962P5FA95/DSC07850.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal7">
            <p style="font-size: 13px; margin:10px; padding-left: 0px;font-weight: bold;">THE ST PETE REVIVAL STORY</p>
          </div>
          <div class="col-3">
            <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614353602038-702M8QEV8IL5DV4X3XW0/20180622-IMG_6368.jpg?format=500w"
              style="width: 250px; height: 250px;" data-bs-toggle="modal" data-bs-target="#exampleModal8">
            <p style="font-size: 13px; margin:10px; padding-left: 10px;font-weight: bold;">ANTWERP ARRIVALS</p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </section>

  <!-- Modal 1 -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">WHERE THE FORGOTTEN ANIMALS OF BOLIVIA ARE LOVED</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352375017-EDUWPR9EB2R3D507TFW4/IMG_3384.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut incidunt ullam voluptatem provident, perspiciatis veritatis! Voluptatem eaque doloribus commodi blanditiis nihil minima earum corporis atque, libero, veniam quaerat ipsum ducimus!</p>
          <p>Place: Bolivia</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">THE BASQUE COUNTRY | MORE THAN JUST THE BILBOA EFFECT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614353550454-D5VE1F4C198UNHUN3UMK/IMG_2301.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia deserunt praesentium, dolorem sit voluptatibus, saepe eaque, facilis molestias vel perferendis fugiat adipisci consequuntur labore quas ipsa consectetur quos esse!</p>
          <p>Place: The Basque Country</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

 
  <!-- Modal 3 -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">HORSE RIDING IN URUGUAY | A TALE OF TWO DREAMS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352448581-DW0PB1G33Q7ZRNCUGSMY/caballos-de-luz-along-dusty-roads-21.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus ratione voluptate culpa, accusamus rem ipsum officiis eum impedit ab fugit, quo neque quia ducimus quidem cupiditate odit iusto libero?</p>
          <p>Place: Uruguay</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 4 -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">OUR NIGHT IN THE SAHARA DESERT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352048223-49LSV3S0K5ZNTI61Z8L3/IMG_6188.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta odit, libero deserunt modi saepe culpa laborum. Eos, modi consequuntur aspernatur sunt sit quae corrupti maxime iusto, totam itaque, consequatur recusandae.</p>
          <p>Place: Sahara Desert</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 5 -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel5">CHERNOBYL | DISCOVERING SECRETS IN THE SNOW</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352245185-ANFJBKS4W9JEHRZUESVU/IMG_9960.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, minus incidunt cumque maiores maxime harum corporis? Suscipit consequuntur, libero earum harum similique, quod dolorem, obcaecati tenetur nesciunt maxime repellendus ex.</p>
          <p>Place: Chernobyl</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 6 -->
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel6">THREE MORNINGS IN SWITZERLAND | A HIKING STORY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352198466-4WUSSBEXTMHQ8UYFIFVR/DSC01474.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>lorem</p>
          <p>Place: Switzerland</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal 7 -->
  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel7">THE ST PETE REVIVAL STORY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614352294833-U7WWTV2V9XU962P5FA95/DSC07850.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque totam illum. Asperiores velit corrupti nesciunt beatae quos recusandae. Tempora commodi qui velit. Sit in nam facilis voluptas repudiandae mollitia.</p>
          <p>Place: St. Petersburg</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
        </div>
      </div>
    </div>
  </div>

 
  <!-- Modal 8 -->
  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel8">ANTWERP ARRIVALS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://images.squarespace-cdn.com/content/v1/53172b1be4b0cc8a5401db4a/1614353602038-702M8QEV8IL5DV4X3XW0/20180622-IMG_6368.jpg?format=500w"
            style="width: 100%; height: auto;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repellendus repudiandae molestiae, nostrum debitis adipisci quibusdam ab, iste reprehenderit ipsa incidunt error est dignissimos rem blanditiis? Dolor autem tempora ipsa.</p>
          <p>Place: Antwerp</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


